{% extends "FrontBundle::page.html.twig" %}

{% set _url = path("front_merchant") ~ "?filter_name=" ~ filter_name %}

{% block content %}
	<div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">名称:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <div style="padding-bottom: 10px;align-items: center;" class="flex">
					<span>共 {{ pager.pager.total }} 个商户</span>
                    <button class="layui-btn layuiadmin-btn-list btn_prepare" data-id="0">添加商户</button>
                </div>
                <table class="model">
                    <tr>
                        <td>编号</td>
                        <td>名称</td>
                        <td>通道</td>
                        <td>代收费率	</td>
                        <td>代收</td>
                        <td>代付</td>
                        <td>提现</td>
                        <td>充值</td>
                        <td>管理操作</td>
                    </tr>
					{% for mt in pager.data %}
                   <tr id="tr-{{ mt.id }}">
                        <td>{{ mt.id }}</td>
                        <td>{{ mt.display_name }}</td>
                        <td>{{ mt.channel ? mt.channel : '???' }}</td>
                        <td>{{ mt.merchant ?  mt.merchant.percent : '???' }}%</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
							<button class="button button-orange btn_detail mr10" data-id="{{ mt.id }}" data-name="{{ mt.display_name }}">详情</button>
							<button class="button button-blue btn_prepare mr10"  data-id="{{ mt.id }}" data-name="{{ mt.display_name }}">编辑</button>
							<button class="button button-red btn_delete"         data-id="{{ mt.id }}" data-name="{{ mt.display_name }}" data-token="{{ mt.token }}">删除</button>
						</td>
                    </tr>
					{% endfor %}
                </table>

                <div class="Page flex mt15" style="align-items: center; justify-content: space-between;">
                    <nav class="pagination-outer" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="{{ _url }}&page=1" class="page-link" style="width: auto;">首页</a>
                            </li>
                            <li class="page-item">
                                <a href="{{ _url }}&page={{ pager.pager.prev }}" class="page-link" style="width: auto;">上一页</a>
                            </li>

							{% for p in pager.pager.min..pager.pager.max %}
								<li class="page-item {% if p == pager.pager.page %}active{% endif %}"><a href="{{ _url }}&page={{ p }}" class="page-link">{{ p }}</a></li>
							{% endfor %}

                            <li class="page-item">
                                <a href="{{ _url }}&page={{ pager.pager.next }}" class="page-link" style="width: auto;">下一页</a>
                            </li>
                            <li class="page-item">
                                <a href="{{ _url }}&page={{ pager.pager.pages }}" class="page-link" style="width: auto;">尾页</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                </script>
            </div>
        </div>
		
		<script>
		$(document).ready(function(){
			prepare_dialog();
			init_detail();
			init_delete();
		});
		
		
		//添加 编辑
		function prepare_dialog()
		{
			$('.btn_prepare').click(function(){
				var id = $(this).attr('data-id');
				prepare(0 == id ? "添加" : "编辑","{{ path("front_merchant") }}?action=prepare&id="+id,'460px',"92%");
			});
		}
		
		//商户详情
		function init_detail()
		{
			$('.btn_detail').click(function(){
				var id = $(this).attr('data-id');
				var name = $(this).attr('data-name');
				prepare("商户详情 - "+name,"{{ path("front_merchant") }}?action=detail&id="+id,'680px',"92%");
			});
		}
		
		//删除
		function init_delete()
		{
			$('.btn_delete').click(function(){
				var id = $(this).attr('data-id');
				var name = $(this).attr('data-name');
				var token = $(this).attr('data-token');

				layer.confirm("确定删除:"+name+"吗？", {btn: ['确定','取消']}, function(index){
					ajax("{{ path("front_merchant") }}?action=delete&id="+id,{id:id,token:token},function(json){
						layer.close(index);
						layer.msg(json.msg);
						if(0 == json.code)
						{
							$('#tr-'+id).remove();
						}
					});
				});
			});
		}
		</script>
{% endblock %}