{% extends "FrontBundle::page.html.twig" %}

{% block content %}
	<div class="layui-card">
		<!--<div class="layui-card-header">商户添加</div>-->
		<div class="layui-card-body">
			<form class="layui-form" id="std-form" lay-filter="component-form-element">
				<div class="layui-row layui-col-space10 layui-form-item">
					<div class="layui-col-lg6">
						<label class="layui-form-label">账号：</label>
						<div class="layui-input-block">
							<input type="text" name="username" id="username" lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>

                <div class="layui-row layui-col-space10 layui-form-item">
					<div class="layui-col-lg6">
						<label class="layui-form-label">密码：</label>
						<div class="layui-input-block">
							<input type="text" name="password" id="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>

                <div class="layui-row layui-col-space10 layui-form-item">
					<div class="layui-col-lg6">
						<label class="layui-form-label">商户名称：</label>
						<div class="layui-input-block">
							<input type="text" name="dispaly_name" id="dispaly_name" lay-verify="required" placeholder="请输入商户名称" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				
				<div class="layui-row layui-col-space10 layui-form-item">
					<div class="layui-col-lg6">
						<label class="layui-form-label">渠道选择：</label>
						<div class="layui-input-block">
							<select name="channel_id" id="channel_id">
								{% for channel in channels %}
								<option value="{{ channel.id }}">{{ channel.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
                </div>
				
				<div class="layui-row layui-col-space10 layui-form-item">
					<div class="layui-col-lg6">
						<label class="layui-form-label">代收费率	：</label>
						<div class="layui-input-block flex" style="align-items: center;justify-content: flex-start;">
							<input type="text" name="percent" id="percent" lay-verify="required" placeholder="0.00" autocomplete="off" class="layui-input" style="width:80px"><span class="ml10" style="font-weight:bold;font-size:14px;">%</span>
						</div>
					</div>
				</div>

			</form>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" id="btn_submit">提交</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		var id = parseInt({{ id }});
		$(document).ready(function () {
			submit();
			{% if id > 0 %}
				$('#username').val("{{ user.username }}");
				$('#dispaly_name').val("{{ user.displayName }}");
				$('#channel_id').val("{{ merchant.channelId }}");
				$('#percent').val("{{ merchant.percent }}");
			{% endif %}
		});
		
		function submit()
		{
			$('#btn_submit').click(function(){
				let can_submit = true;
				if(can_submit&& "" == $('#username').val())
				{
					can_submit = false;
					layer.msg("请输入账号");
				}
				if(0 == id)
				{
					if(can_submit && '' == $('#password').val())
					{
						can_submit = false;
						layer.msg("请输入密码:"+id);
					}
				}
				
				if(can_submit)
				{
					ajax("{{ path("front_merchant") }}?action=prepare&id={{ id }}",$('#std-form').serialize(),function(json){
						layer.alert(json.msg,{},function(){
							if(0 == json.code)
							{
								parent.window.location.reload();
							}
						});
					});
				}
			});
		}
	</script>
	<script>
		layui.config({base: '{{ asset('ui_core') }}/'}).extend({index: 'lib/index'}).use(['index', 'form'], function(){
			var admin = layui.admin,element = layui.element,form = layui.form;

			form.render(null, 'component-form-element');
			element.render('breadcrumb', 'breadcrumb');
		});
	</script>
{% endblock %}
