<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}TITLE{% endblock %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ asset('ui_core/layui/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('ui_core/style/admin.css') }}" media="all">
	<script src="{{ asset('js/jquery/jquery-3.6.0.min.js') }}"></script>
	<script src="{{ asset('js/layer/layer.js') }}?v=1"></script>
	<script src="{{ asset('ui_core/layui/layui.js') }}"></script>
	<script src="{{ asset('js/base.js') }}"></script>
	<script>
		{% set _route = app.request.attributes.get('_route') %}
		var _route="{{ _route }}";
	</script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
		<div class="layui-col-md12">{% block content %}{% endblock %}</div>
	</div>
</div>

<style>
.model tr td{
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
}
.model .cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 1px;
}
</style>

</body>
</html>